@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap');

.home, .header {
    background: #ba3ff3;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBox {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(83, 22, 224, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 10px;
}

.body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.div1 { 
    grid-area: 1 / 1 / 6 / 4; 
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #dabce0;
    text-align: center;
    margin-bottom: 50px;
}

.buttons {
    max-width: 100%;
}

.paper {
    height: 13rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.subTitulo {
    font-family: 'Nunito Sans', sans-serif;
}

.div2 { 
    grid-area: 2 / 1 / 7 / 6; 
    margin-top: 3rem;
} 

@media screen and (max-width: 600px) {
    .body {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }

    .div1,
    .div2 {
        grid-area: auto; /* Redefinindo a área do grid para o padrão */
    }
}