@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

a {
     text-decoration: none;
     color: #f5b410;
}

.footer {
    background: #221322;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.leftSide {
     grid-area: 1 / 1 / 6 / 3; 
}

.image {
     padding: 95px;
}

.rigthSide {
     grid-area: 1 / 3 / 6 / 6; 
     align-items: center;
     display: flex;
     flex-direction: column;
}

.footerTitle {
     font-family: 'Poppins', sans-serif;
     color: #f5b410;
}

.devImage {
     border-radius: 50%;
     margin-top: 50px;
}

@media screen and (max-width: 600px) {
     .footer {
         grid-template-columns: 1fr; /* Uma coluna em telas menores */
     }
 
     .leftSide,
     .rigthSide {
         grid-area: auto; /* Redefinindo a área do grid para o padrão */
     }
     
     .image {
         padding: 20px; /* Ajustando o padding da imagem em telas menores */
     }
     
     .devImage {
         margin-top: 20px; /* Ajustando a margem da imagem em telas menores */
     }
}
