@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&family=Merriweather+Sans:wght@400;600;700&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

.content {
    background-image: url("https://i.im.ge/2023/12/13/EC1oEq.background-pokemons.png");
    background-repeat: cover;
    background-size: auto;
   
    
}

.titulo {
    font-family: 'Anek Malayalam', sans-serif;
    color: #420602;
    background: rgba(216, 146, 146, 0.342);
    box-shadow: 0 8px 32px 0 rgba(9, 219, 219, 0.37);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.pokemonsName{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3rem;
    color: #edf8f2;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 1.2rem; /* Ajustando o tamanho da fonte em telas menores */
        padding: 10px; /* Ajustando o espaçamento interno em telas menores */
    }
}